<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.ProductMapper">
  <select id="getProduct" parameterType="map" resultType="com.model.Product">
        SELECT * 
        FROM PRODUCT
       
        <if test="id != null and id != ''">  
    	    WHERE id = #{id}
        </if>
   </select>
   
   <select id="getAllProducts" resultType="com.model.Product">
    	 SELECT * FROM PRODUCT LIMIT ${startRow},${pageSize} 
   </select>
</mapper>