<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.ProductMapper">
  <select id="getProduct" parameterType="map" resultType="com.model.Product">
         SELECT product.id,product.name,familyType,length, width,height,publishDate,edition,discription,link,installInstruction,
				product.certification,document,video,code,mainMaterial,secMaterial,design,production,weight,similarProduct,
                attachment,sccClass,IFCType,manufacturerID,thumbDir,downloadDir,buildingType,function,manufacturer.name as manufacturer
        FROM product join manufacturer on manufacturer.id = product.manufacturerID
        <if test="id != null and id != ''">  
    	    WHERE product.id = #{id}
        </if>
   </select>
   
   <select id="getProductById" parameterType="map" resultType="com.model.Product">
         SELECT * FROM PRODUCT
        <if test="id != null and id != ''">  
    	    WHERE product.id = #{id}
        </if>
    </select>
  
   
   <select id="getAllProducts" resultType="com.model.Product">
    	 SELECT * FROM PRODUCT LIMIT ${startRow},${pageSize} 
   </select>
   
   <select id="getProductsByName" parameterType="map" resultType="com.model.Product">
        SELECT * 
        FROM PRODUCT
       
        <if test="name != null and name != '' and name != '搜索'">  
    	    WHERE name = #{name}
        </if>
   </select>
   
   <select id="getProductsBySearch" parameterType="map" resultType="com.model.Product">
        SELECT product.id,product.name,familyType,length, width,height,publishDate,edition,discription,link,installInstruction,
				product.certification,document,video,code,mainMaterial,secMaterial,design,production,weight,similarProduct,
                attachment,sccClass,IFCType,manufacturerID,thumbDir,downloadDir,buildingType,function,manufacturer.name as manufacturer
        FROM product join manufacturer on manufacturer.id = product.manufacturerID
       	WHERE 1=1
        <if test="name != null and name != '' and name != '搜索'">  
    	    and product.name like '%${name}%'
        </if>
        <if test="manufacturer != null and manufacturer != '' ">
            and manufacturer.name = #{manufacturer}
        </if>
        <if test="familyType != null and familyType != '' ">
            and familyType = #{familyType}
        </if>
        <if test="mainMaterial != null and mainMaterial != '' ">
            and mainMaterial = #{mainMaterial}
        </if>
        <if test="buildingType != null and buildingType != ''">
            and buildingType = #{buildingType}
        </if>
        <if test="function != null and function != ''">
            and function = #{function}
        </if>
   </select>
   
   <select id="getProducts" resultType="com.model.Product">
        SELECT * 
        FROM PRODUCT      
   </select>
   
   <insert id="addProducts" parameterType="map">
       INSERT INTO PRODUCT VALUES (#{id}, #{name}, #{familyType}, 
       #{length}, #{width},#{height},#{publishDate},#{edition},#{discription},#{link},#{installInstruction},
       #{certification},#{document},#{video},#{code},#{mainMaterial},#{secMaterial},#{design},#{production},
       #{weight},#{similarProduct},#{attachment},#{sccClass},#{IFCType},#{manufacturerID},#{thumbDir},
       #{downloadDir},#{buildingType},#{function},#{downloads})
   </insert>
   
   <delete id="deleteProduct" parameterType="map">
       DELETE FROM PRODUCT WHERE id = #{id}
   </delete>
   
   <update id="updateProducts" parameterType="map">
       UPDATE PRODUCT SET id=#{id},name=#{name}, familyType=#{familyType}, 
       length=#{length}, width=#{width},height=#{height},publishDate=#{publishDate},edition=#{edition},
       discription=#{discription},link=#{link},installInstruction=#{installInstruction},
       certification=#{certification},document=#{document},video=#{video},code=#{code},mainMaterial=#{mainMaterial},
       secMaterial=#{secMaterial},design=#{design},production=#{production},
       weight=#{weight},similarProduct=#{similarProduct},attachment=#{attachment},sccClass=#{sccClass},
       IFCType=#{IFCType},manufacturerID=#{manufacturerID},thumbDir=#{thumbDir},
       downloadDir=#{downloadDir},buildingType=#{buildingType},function=#{function},downloads=#{downloads}
       WHERE id=#{id}
   </update>
   
     <select id="getManufacturer" parameterType="map" resultType="com.model.Manufacturer">
        SELECT * 
        FROM manufacturer
        where id = #{id}   
   </select>
   <select id="getHighlights" parameterType="map" resultType="com.model.Product">
       SELECT * 
       FROM product ORDER BY publishDate DESC LIMIT 6
   </select>
   
   <select id="getPopular" parameterType="map" resultType="com.model.Product">
       SELECT * 
       FROM product ORDER BY downloads DESC LIMIT 6
   </select>  
   
   <update id="updateDownloads" parameterType="map">
       UPDATE PRODUCT SET downloads=#{downloads}
       WHERE id=#{id}
   </update>
   
   <insert id="contactSubmit" parameterType="map">
       INSERT INTO feedback(name,tel,email,msg) VALUES (#{name}, #{tel}, #{email}, #{msg})
   </insert>
   
   <select id="getAllContacts" parameterType="map" resultType="com.model.Contacts">
       SELECT * FROM FEEDBACK
   </select>
   
   <delete id="deleteContacts" parameterType="map">
       DELETE FROM feedback WHERE id = #{id}
   </delete>
   
</mapper>
