<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>bim2.0</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>usercenter</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>usercenter</servlet-name>
  	<url-pattern>/usercenter/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>admincenter</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>admincenter</servlet-name>
  	<url-pattern>/admincenter/*</url-pattern>
  </servlet-mapping>
  
<!--   <servlet> -->
<!--        <description>UserCenter</description> -->
<!--        <display-name>usercenter</display-name> -->
<!--          <servlet-name>Usercenter</servlet-name> -->
<!--        <servlet-class>com.Usercenter</servlet-class> -->
<!--   </servlet> -->
  
<!--   <servlet-mapping> -->
<!--     <servlet-name>Usercenter</servlet-name> -->
<!--     <url-pattern>/usercenter</url-pattern> -->
<!--   </servlet-mapping> -->
</web-app>